
.primary-title-container h1 {
  color: black;
}

.title-container h1 {
  color: #C7B68C;
}

.icon-container {
  color: #8E6627;
}

.caption-container p {
  color: black;
}

.btb_video_header {
    display: inline-block; /* Ensures the span behaves like a block for centering */
    text-align: center;    /* Centers text horizontally */
    width: 100%;           /* Allows text alignment within the span's container */
}

